.row {
    display: flex;
    justify-content: center;
}

h1 {
    padding: 0;
    margin: 0;
    font-weight: 700;
    color: #757575;
}

.popup {
    min-height: 50px;
}

.monthly-title h5 {
    color: yellow !important;
}

@media screen and (min-width: 575px) {
    .monthly-title {
        margin-top: 100px;
    }
}
